*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: #FEFEFE;
}
header{
  position: relative;
    display: flex!important;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
main{
  width: 100%;
  height: auto;
  display: flex!important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 21px;
  padding-bottom: 14px;
}
.headline{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headline ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    list-style-type: none;
    font-size: 17px;
}
.dropbtn{
    width: 100%;
    height: auto;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 7px;
    cursor: pointer;
}
.dropbtn i{
    color: green;
    font-size: 12px;
}
.dropdownz{
    color: white;
    padding: 16px 0px 16px 0px;
    font-size: 16px;
    border: none;
    
}
.dropdown-content {
    display: none;
    justify-content: center;
    align-items: start;
    padding-top: 14px;
    position: absolute;
    width: 100%;
    height: 550px;
    left: 0;
    top: 77%;
    z-index: 1;
    border-top: 1px solid gainsboro;
    background-color: white;
  }
  .lines{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    height: 500px;
  }
  .petroliumwords p{
    width: 100%!important;
  }
  #api1 img{
    width: 80px!important;
    height: 80px!important;
    padding: 15px!important;
  }
  #api2 img{
    width: 80px!important;
    height: 80px!important;
    padding: 15px!important;
  }
  #api3 img{
    width: 80px!important;
    height: 80px!important;
    padding: 15px!important;
  }
  #api1{
    width: 100%!important;
    height: 133px!important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    text-decoration: none;
  }
  #api2{
    width: 100%!important;
    height: 133px!important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    text-decoration: none;
  }
  #api3{
    width: 100%!important;
    height: 133px!important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    text-decoration: none;
  }
  .spec{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 14px;
    flex-direction: column;
  }
  .spec ul{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .spec ul li a{
    font-size: 15px;
    font-weight: 600;
    color: rgb(67, 67, 67);
    text-decoration: none;
  }
  .spec ul li a:hover{
    background-color: transparent;
    color: #252D6C;
  }
  #api1:hover{
    background-color: rgb(64 70 240 / 16%);
  }
  #api2:hover{
    background-color: rgb(255 70 0 / 16%);
  }
  #api3:hover{
    background-color: rgb(0 171 210 / 16%);
  }
  .lines button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 157px;
    height: 29px;
    color: #252D6C;
    border: none;
    background-color: transparent;
    font-weight: 600;
    border-bottom: 2px solid #252D6C;
    cursor: pointer;
  }
  .lines p {
    width: 66%;
    font-size: 13px;
    color: rgb(44, 44, 44);
  }
  .dropdown-content h1{
    font-size: 21px;
    color: #252D6C;
  }
  .line{
    width: 80%;
    height: 1px;
    background-color: gainsboro;
  }
  .lines a{
    width: 66%!important;
    height: auto;
    padding: 0!important;
  }
  .our{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
  }
  .our img{
    width: 100%;
    height: 146px;
    border-radius: 7px;
  }
  
  .dropdown-content a {
    width: 100%;
    height: auto;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}

.dropdownz:hover .dropdown-content {display: flex;}



.quote{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    position: relative;
}
.quote button{
    width: 123px;
    height: 45px;
    background-color: #252D6C;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    font-size: 14px;
    color: white;
}
.quote button:hover{
    cursor: pointer;
    background-color: transparent;
    color: #252D6C;
    border: 2px solid #252D6C;
}
.iso{
  width: 95%!important;
  height: 80%!important;
  padding: 17px!important;
  display: flex!important;
  justify-content: start!important;
  align-items: center!important;
  color: #202020!important;
  gap: 7px;
  border: 2px solid #F0F3FF;
  border-radius: 3px;
  text-decoration: none;
}
.iso h2{
  font-size: 16px;
  display: contents;
}
.iso:hover{
  text-decoration: none;
  background-color: #F0F3FF!important;

}
.iso img{
  width: 25px;
  height: 25px;
}
.sector{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.bysectors{
  width: 90%;
  height: auto;
  display: flex!important;
  justify-content: start;
  align-items: center;
  text-decoration: none!important;
  gap: 7px;
  border-radius: 3px;
}
.bysectors:hover{
  color: black;
  background-color: #F0F3FF!important;
}
.bysectors h2{
  font-size: 16px!important;
  display: contents;
}
#companydropdown{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 21px;
  padding-left: 14px;
}
#companydropdown a{
  width: 148px;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none!important;
  border-radius: 3px;
  font-weight: 600;
}
#companydropdown a:hover{
  color: black;
}
#companydropdown img{
  width: 20px;
  height: 20px;
}
.company{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 21px;
  padding-left: 14px;
}
.company a{
  width: 148px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none!important;
  border-radius: 3px;
  font-weight: 600;
}
.company a:hover{
  color: black;
}
.company img{
  width: 20px;
  height: 20px;
}
.know{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 157px;
  height: 29px;
  color: #252D6C;
  border: none;
  background-color: transparent;
  font-weight: 600;
  border-bottom: 2px solid #252D6C;
  cursor: pointer;
}
.transit{
  position: relative;
  width: 100%;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 14px;
}
.transit img{
  width: 65px;
  height: 65px;
}
.banner1{
  position: absolute;
  top: 7%;
  left: 15%;
}
.banner2{
  position: absolute;
  top: 28%;
  left: 3%;
}
.banner3{
  position: absolute;
  top: 59%;
  left: 9%;
}
.banner4{
  position: absolute;
  top: 7%;
  right: 15%;
}
.banner5{
  position: absolute;
  top: 28%;
  right: 3%;
}
.banner6{
  position: absolute;
  top: 59%;
  right: 9%;
}
.transit img {
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.transit h1{
  width: 40%;
  color: #343F52;
  font-size: 55px;
}
.transit p{
  width: 40%;
  color: #343F52;
  font-size: 21px;
}
.buttons{
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.edition{
  background-color: #252D6C;
  color: white;
  border: 2px solid #252D6C;
  padding: 10px;
  border-radius: 7px;
  font-weight: 600;
}
.edition:hover{
  background-color: #5DB800;
  cursor: pointer;
}
.delighted{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}
.delighted h1{
  color: #343F52;
}
.deligh{
  width: 95%;
  height: 95%;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deligh img{
  width: 93px;
  height: 33px;
}
.help{
  width: 100%;
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F6F8;
  color: #343f52;
  text-align: center;
  gap: 14px;
  padding-bottom: 14px;
}
.help p{
  width: 50%;
  font-size: 24px;
}
.help h1{
  width: 50%;
  font-weight: 700;
  font-size: 30px;
}
.help small{
  width: 50%;
  font-size: 18px;
}
.consult{
  padding-top: 21px;
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  text-align: start;
  gap: 14px;
}
.consult a{
  color: #252D6C!important;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.consult a:hover{
  text-decoration: none;
  color: #252D6C;
}
.consult small{
  width: 100%;
}
.learn{
  background-color: #252D6C;
  color: white;
  border-radius: 21px;
  border: 2px solid #252D6C;
  padding: 7px 14px 7px 14px;
  font-weight: 600;
}
.yourpath{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 14px;
  text-align: start;
}
.yourpath h1{
  width: 90%;
  font-size: 32px;
  color: #202020;
  font-weight: 600;
}
.yourpath p{
  width: 90%;
  font-size: 18px;
  color: #202020;
}
.vid{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.yourpath video{
  width: 71%;
  height: auto;
}
.consider{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 14px;
}
.why{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.why p{
  font-size: 14px;
  color: gray;
}
.why h1{
  font-size: 32px;
  color: #343F52;
}
.workers{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}
.consider small{
  font-size: 17px;
}
.features{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 14px;
}
.features p{
  display: contents;
  font-size: 17px;
  color: rgb(56, 56, 56);
}
.considers{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.considers img{
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.customers{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FEF6F5;
}
.drive{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.drive h6{
  font-size: 33px;
  font-weight: 400;
}
.drive button{
  color: #252D6C;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  background-color: #5F52FF;
  flex: 0 0 100%;
  width: 100%;
  text-align: center;
  padding: 27px;
  text-align: start;
  border-radius: 7px;
  cursor: grab;
}
.slide p{
  font-size: 18px;
  color: white;
}
.pipe small{
  font-weight: 600;
  font-size: 19px;
  color: white;
}
.pipe img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.journey{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 14px;
}
.clients img{
  width: 100%;
  height: 200px;
}
.clients h1{
  font-size: 33px;
  color: white;
}
.clients p{
  font-size: 18px;
  color: white;
}
footer{
  width: 100%;
  height: auto;
  display: flex!important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 21px;
  padding: 21px;
}
.vegas{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 7px;
}
.socialmedia{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
}
.socialmedia a{
  text-decoration: none;
}
.socialmedia a:hover{
  color: rgb(255, 118, 118);
}
.socialmedia a i:hover{
  color: rgb(255, 118, 118);
}
.vegas h1{
  font-size: 18px;
}
.vegas a{
  color: rgb(52, 52, 52);
}
.vegas a:hover{
  color: #5DB800;
  text-decoration: none;
}
.vegas form{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vegas input{
  width: 70%;
  height: 50px;
  border: 1px solid gainsboro;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  background-color: #F4F4F4;
  padding-left: 14px;
}
.vegas button{
  width: 30%;
  height: 50px;
  background-color: #252D6C;
  color: white;
  font-weight: 600;
  border: 1px solid #252D6C;
  cursor: pointer;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
.copyright{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.privacy{
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.privacy a{
  text-decoration: none;
  color: #202020;
}
.privacy a:hover{
  color: #202020;
}
.grayline{
  width: 90%;
  height: 1px;
  background-color: gainsboro;
}

@media only screen and (max-width: 700px) {
  .aboutwords{
    width: 66%!important;
  }
  }

@media only screen and (max-width: 600px) {
.navbars{
  width: 40%!important;
}
}

@media only screen and (max-width: 500px) {
  .navbars{
    width: 50%!important;
  }
 .copyright{
  flex-direction: column;
 }
 .buttons{
  width: 66%;
 }
 .privacy{
  width: 90%;
 }
}

@media only screen and (max-width: 400px) {
  .navbars{
    width: 66%!important;
  }
  .quote{
    display: none;
  }
  .privacy{
   flex-direction: column;
   gap: 7px;
  }
 }

/* Navbar menu */
#hamburger-menu{
  width: 40px;
  height: 40px;
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#hamburger-menu i{
  font-size: 21px;
}
 @media only screen and (max-width: 991px) {
  .headline ul{
    display: none;
  }
  #hamburger-menu{
    display: block;
  }
 }

 @media screen and (max-width: 600px) {
  .navbars a {
      float: none;
      display: block;
      text-align: left;
  }
  .navbars .contact-info {
      float: none;
      text-align: left;
  }
}

@media screen and (max-width: 850px) {
  .buttons{
    flex-direction: column;
  }
  .edition{
    width: 168px!important;
  }
  .know{
    width: 168px!important;
  }
}
.navbars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #1E2228;
  width: 30%;
  height: 650px;
  overflow: hidden;
  display: none; /* Navbar başlangıçta gizli */
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  gap: 7px;
  overflow-y: auto;
  scrollbar-color: transparent transparent;
}
.navbars h1{
  font-size: 24px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbars ul{
  width: 100%;
}
.close{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 50%;
}
.navbars p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  padding: 1px 20px;
  text-decoration: none;
  cursor: pointer;
}
.navbars a:hover {
  background-color: #ddd;
  color: black;
}
.navbars .contact-info {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 18px;
  color: white;
  text-align: right;
}
.contact-info a{
  color: white;
  font-weight: 600;
}
.contact-info a:hover{
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  color: rgb(255, 142, 142);
}
.close{
  width: 40px;
  height: 40px;
}
.socials{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.socials a:hover{
  background-color: transparent;
  text-decoration: none;
}
.socials a i{
  font-size: 21px;
  cursor: pointer;
}
.dropdownes li{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding-left: 21px;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
}
.dropdownes li a{
  color: white;
}
.dropdownes li a:hover{
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.dropdownes h1{
  font-size: 21px;
  color: #5DB800;
}
.dropdownes{
  display: none;
}
#certificatdropdown h2{
  color: white;
}
#certificatdropdown h2:hover{
  color: black;
}
#servicesdropdown h2{
  color: white;
}
#servicesdropdown h2:hover{
  color: black;
}

#search-input {
  position: absolute;
  top: 110%;
  left: -33%;
  width: 240px;
  height: 51px;
  border: 1px solid gainsboro;
  border-radius: 3px; 
  padding-left: 14px;
  z-index: 1;
}

#search {
  cursor: pointer;
}

.hidden {
  display: none;
}
#company:hover{
  color: #5DB800;
}
#services:hover{
  color: #5DB800;
}
#certificat:hover{
  color: #5DB800;
}
#consultacy:hover{
  color: #5DB800;
}

/* About Us Page*/

.aboutus{
  width: 100%;
  min-height: 650px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-color: #FEF6F5;
}
.aboutwords{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 21px;
}
.aboutwords h1{
  font-size: 50px;
  color: #343F52;
}
.aboutwords p{
  font-size: 20px;
  color: #343F52;
}
.aboutus img{
  width: 60%;
}
.who{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  flex-direction: column;
}
.who h1{
  font-size: 30px;
  color: #343F52;
}
.who p{
  font-size: 17px;
  color: #343F52;
}
.whyvegascg{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #343F52;
}
.skills{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #ECEEF3;
  border-radius: 10px;
  padding: 14px;
}
.whyvegascg h1{
  font-size: 30px;
  font-weight: 700;
}
.skills img{
  width: 50px;
  height: 50px;
}
.skills h2{
  font-weight: 700;
  font-size: 24px;
}
.skills p{
  font-size: 17px;
  width: 80%;
}
.assuranceback{
  width: 100%;
  min-height: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F6F7F9;
  padding: 21px;
  flex-direction: column;
  gap: 21px;
}
.assurance{
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: #343F52;
  gap: 14px;
  background-color: #F6F7F9;
  font-weight: 400;
}
.assurance h1{
  font-size: 30px;
}
.assurance small{
  font-size: 17px;
  font-weight: 400;
}
.assurance p{
  font-size: 17px;
  display: contents;
}
.skill{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
}
.skill i{
  font-size: 10px;
  padding: 5px;
  border-radius: 50%;
  background-color: #FEEAE7;
}


.choose{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #343F52;
}
.choose h1{
  width: 80%;
  font-size: 30px;
  font-weight: 700;
}
.dropdown-item{
  width: 100%!important;
  white-space: normal!important;
}
.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: unset!important;
  z-index: 1000; /* or any higher value */
  display: contents;
  transform: unset!important;
}
.whychoose{
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.whychoose img{
  width: 100%;
  min-height: 313px;
}